
/* card */
.card .img-container{
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.card img{
  object-fit: cover;
}
.card h5, .card p{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card h5{
  -webkit-line-clamp: 2;
}
.card p{
  -webkit-line-clamp: 3;
}

/* theme */
.toggle-theme{
  width:60px;
  height: 30px;
  border-radius:50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  position: relative;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
  cursor: pointer;
  transition: all .4s step-end;
}
.toggle-theme:hover{
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .4);
}
.toggle-theme input{
  display: none;
}
.slider{
  align-self: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(39, 107, 235);
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: all .5s ease-in-out;
}
.on, .off{
  font-size: .8rem;
  font-weight: 600;
  -webkit-user-select: none;
  user-select: none;
}
.on{
  color: green;
}
.off{
  color: red;
}
input:checked ~ .slider{
  transform: translate(116%, -50%);
}